* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'San Francisco';
  src: local('San Francisco'), url(./fonts/SF-UI-Display-Regular.otf) format('truetype');
}

body {
  font-family: 'San Francisco';
  /* background-color: #01080F; */
  background-color: gray;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
